<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# bloggaa: http://ogp.me/ns/fb/bloggaa#">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta property="description" content="Bloggaa.fi!"/>
    <meta property="og:description" content="Click here to see more!"/>
    <meta property="og:site_name" content="userpics.com"/>
    <meta property="og:type" content="article"/>

    <%= include meta.ejs %>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    
    <script data-main="/js/main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
  </head>
  <body>
