<%= include header.ejs %>

    <div class="container">
      <div class="row">
        <div class="span12">
          Hello world! <%= blog %>
        </div>
      </div>
    </div>

<%= include footer.ejs %>