<%= include header.ejs %>

    <div class="container">
      <div class="row">
        <div class="span12">
          Blogia <%= blogName %> ei löydy :(<br />
          Mitäpä jos <a href="http://<%=domain%>/">rekisteröisit tämän blogin</a>?
        </div>
      </div>
    </div>

<%= include footer.ejs %>