
    <blockquote>
      <p class="small">
        Liity sinäkin ja rekisteröi <a href="http://<%=domain%>/register">ilmainen blogisi</a>
      </p>
    </blockquote>

    <!-- Site made with love by @juha_tauriainen
         Using MongoDB, node.js, backbone.js, require.js and a lot of modules.
    -->
    <%= include ../../google-analytics.ejs %>

  </body>
</html>