<%= include header.ejs %>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= blogName %> does not yet have any content. What should we do now?
        </div>
      </div>
    </div>

<%= include footer.ejs %>