<%= include header.ejs %>

    <div class="container">
      <div class="row">
        <div class="span12">
          Blog <%= blogName %> not found.<br />
          <a href="http://<%=domain%>/register">Register it?</a>
        </div>
      </div>
    </div>

<%= include footer.ejs %>