<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# bloggaa: http://ogp.me/ns/fb/bloggaa#">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta property="description" content="Bloggaa.fi!"/>
    <meta property="og:description" content="Click here to see more!"/>
    <meta property="og:site_name" content="bloggaa.fi"/>
    <meta property="og:type" content="article"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <script data-main="/js/blogmain.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
  </head>
  <body class="kukkatheme">

    <%
    if(blog && blog.facebookComments) {
      %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1&appId=<%=blog.facebookComments%>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <%
    }
    %>

    <div class="navbar navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Bloggaa!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Etusivu</a></li>
              <%
              if(session.user) {
              %>
                <li><a href="http://<%=domain%>">Blogin hallinta</a></li>
              <%
              } else {
              %>
                <li><a href="http://<%=domain%>">Rekisteröi ilmainen blogi</a></li><%
              }
              %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
